.shell {
  height: 100vh;
  height: 100lvh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #050A18;
}

.main {
  flex: 1;
  overflow: hidden;
  padding-bottom: var(--abu-bottombar-h);
}

.mainFull {
  flex: 1;
  overflow: hidden;
}
